/* general */
body {
    background-color: #F7F5F2;
}

/* header */
#jumbotron-dropbox {
  background-color: #d8d3cb;
  padding-top: 85px;
}
#jumbotron-dropbox .left {
  background-color: #1e1919;
  color: #f7f5f2;
  padding: 48px;
  width: 35%;
}
#jumbotron-dropbox h4 {
  margin-bottom: 15px;
}
#jumbotron-dropbox h1 {
  font-size: 48px;
  line-height: 48px;
  margin-bottom: -7px;
}
#jumbotron-dropbox p {
  margin-bottom: 30px;
}
#jumbotron-dropbox .button {
  width: 70%;
  color: #1e1919;
  font-weight: bold;
  padding: 25px 25px;
  margin-bottom: 30px;
}
#jumbotron-dropbox .button:hover {
  background-color: #438afd;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
#jumbotron-dropbox a:last-of-type {
    color: var(--color-white);
}
#jumbotron-dropbox img {
  display: block;
  width: 100%;
  max-height: 600px;
  object-fit: cover;
  object-position: 100% 45%;
}

/* main */
section {
    padding-top: 70px;
}
section h2 {
    color: #1e1919;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 10px;
}
.box-dropbox {
    width: calc(100% / 3 - 30px);
}
.box-dropbox img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 35px solid #EEE9E2;
}
.box-dropbox h3 {
    margin-top: 15px;
}
.container-boxes-large {
    gap: 15px;
}
.box-large {
    width: calc(100% / 2 - 15px);
}
.box-large img {
    display: block;
    width: 100%;
}
.box-large-content {
    background-color: var(--color-white);
    color: var(--color-black);
    padding: 48px;
}
.box-large-content p {
    margin: 30px 0;
}
.box-large-content .button {
    font-weight: bold;
    width: 45%;
    padding: 16px 24px;
}