/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* general */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--color-white);
  color: var(--color-black);
}
:root {
  --color-dark-blue: #0061ff;
  --color-light-blue: #b4d0e7;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-light-green: #a2d39b;
  --color-blue: #0093ce;
  --color-burgundy: #61082b;
  --color-light-red: #ff1c1c;
  --color-dark-red: #d5001f;
  --color-yellow: #ffd830;
  --color-ultramarine: #0d2481;
  --color-not-white: #f5f5f5;
  --color-gray: #d1d1d4;
  --color-dark-gray: #808080;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.small-container {
  max-width: 1000px;
  margin: 0 auto;
}
.button {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  display: inline-block;
  cursor: pointer;
}

/* header */
header {
  background-color: var(--color-light-blue);
  position: relative;
}
header nav {
  width: 100%;
  background-color: var(--color-white);
  position: fixed;
  z-index: 3000;
  box-shadow: 0 1px 3px #66666677;
}
#logo {
  margin: 0 0 -4px -10px;
}
nav li {
  padding: 25px 20px;
}
nav .button {
  padding: 7px 14px;
  margin-left: -14px;
}
#jumbotron {
  padding-top: 100px;
  position: relative;
  top: 80px;
}
header h1 {
  font-size: 80px;
  font-weight: 750;
  padding-bottom: 37px;
}
header .left {
  width: 30%;
}
header .right {
  width: 70%;
}
#jumbotron img {
  width: 100%;
}
#jumbotron .button {
  padding: 10px 15px;
  margin: 30px 0;
}
.fa-arrow-down {
  color: var(--color-black);
  font-size: 50px;
  font-weight: 800;
  margin-top: 70px;
}

/* main */
section {
  padding-top: 130px;
}
section h2 {
  font-size: 40px;
  padding-bottom: 60px;
}
section h3 {
  font-size: 25px;
  padding-bottom: 15px;
}
.container-check {
  display: flex;
  margin: 0 50px 50px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.container-check input {
  display: none;
}
.checkmark {
  max-width: 20px;
  height: 20px;
  aspect-ratio: 1 / 1;
  margin-right: 5px;
  border: 2px solid var(--color-gray);
  border-radius: 50%;
  cursor: pointer;
}
.container-check:hover input ~ .checkmark {
  background-color: var(--color-gray);
}
.container-check input:checked ~ .checkmark {
  border: 5px solid var(--color-dark-blue);
}
.container-boxes {
    gap: 30px;
    row-gap: 45px;
}
.box{
    width: calc(100% / 3 - 30px);
    font-size: 14px;
    border: 1px solid var(--color-gray);
}
.box:last-of-type {
    width: 100%;
}
.box-title {
  border-bottom: 1px solid var(--color-gray);
  text-align: center;
  padding: 10px 0;
}
.box-content {
  padding: 30px 30px;
}
.box-content li:not(.not-li) {
  padding-bottom: 10px;
}
.fa-ul {
  margin-left: 20px;
}
.box-content ul {
  padding-bottom: 40px;
}



/* footer */
footer {
  background-color: var(--color-black);
  color: var(--color-white);
}

/* text utility */
.c-darkgray {
  color: var(--color-dark-gray);
}

/* padding utility */
.paddleft-5 {
  padding-left: 5px;
}

/* flex utility */
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.f-column {
  flex-direction: column;
}
.s-between {
  justify-content: space-between;
}
.ai-center {
  align-items: center;
}
