/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* general */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--color-white);
  color: var(--color-black);
  min-width: 1100px;
}
:root {
  --color-dark-blue: #0061ff;
  --color-light-blue: #b4d0e7;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-light-green: #a2d39b;
  --color-blue: #0093ce;
  --color-burgundy: #61082b;
  --color-light-red: #ff1c1c;
  --color-dark-red: #d5001f;
  --color-yellow: #ffd830;
  --color-ultramarine: #0d2481;
  --color-not-white: #f5f5f5;
  --color-gray: #d1d1d4;
  --color-dark-gray: #808080;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.small-container {
  max-width: 1000px;
  margin: 0 auto;
}
.button {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  display: inline-block;
  cursor: pointer;
}
.button:hover {
  background-color: #033991;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.alt-button {
  background-color: var(--color-white);
  color: var(--color-black);
}
.alt-button:hover {
  background-color: #c7c7c7;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

/* header */
header {
  position: relative;
}
header nav {
  width: 100%;
  background-color: var(--color-white);
  position: fixed;
  z-index: 3000;
  box-shadow: 0 1px 3px #66666677;
}
#logo {
  padding: 30px 20px 30px 2px;
  margin-bottom: -5px;
}
nav a:not(.button, .dropdown-why a) {
  color: var(--color-black);
  padding: 25px 20px;
}
nav a:not(.button, .dropdown-why a):hover {
  color: var(--color-dark-blue);
  border-bottom: 3px solid var(--color-dark-blue);
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}
nav .button {
  padding: 6px 15px;
  margin-right: 15px;
}
.dropdown-why {
  display: none;
  position: absolute;
  left: 0;
  top: 82px;
  z-index: 2999;
  width: 100vw;
  background-color: var(--color-white);
  box-shadow: 0 1px 3px #66666677;
}
.dropdown-why-start:hover .dropdown-why {
  display: block;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
.dropdown-why ul {
  width: 259px;
  margin: 20px 0;
}
.dropdown-why ul:first-of-type {
  margin-left: 149px;
}
.dropdown-why a {
  color: var(--color-black);
  padding: 20px;
  border-radius: 15px;
}
.dropdown-why a:hover {
  background-color: var(--color-not-white);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}
.dropdown-why h2 {
  font-size: 16px;
  margin: 0 0 5px 20px;
}
.dropdown-why p {
  font-size: small;
  margin-left: 20px;
}
#jumbotron {
  padding-top: 100px;
  position: relative;
  top: 80px;
}
header h1 {
  font-size: 80px;
  font-weight: 750;
  padding-bottom: 37px;
}
header .left,
section .left {
  width: 30%;
}
header .right,
section .right {
  width: 70%;
}
#jumbotron img,
.partner img,
.operations img {
  width: 100%;
}
#jumbotron .button {
  padding: 10px 15px;
  margin: 30px 0;
}
.fa-arrow-down {
  color: var(--color-black);
  font-size: 50px;
  font-weight: 800;
  margin-top: 70px;
}

/* main */
section {
  padding-top: 140px;
}
section h2 {
  font-size: 40px;
  padding-bottom: 60px;
}
section h3 {
  font-size: 24px;
  padding-bottom: 15px;
}
.container-check {
  display: flex;
  margin: 0 50px 50px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.container-check input {
  display: none;
}
.checkmark {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border: 2px solid var(--color-gray);
  border-radius: 50%;
  cursor: pointer;
}
.container-check:hover input ~ .checkmark {
  background-color: var(--color-gray);
  transition-duration: 0.2s;
}
.container-check input:checked ~ .checkmark {
  border: 5px solid var(--color-dark-blue);
}
.container-boxes {
  gap: 30px;
  row-gap: 45px;
}
.box {
  width: calc(100% / 3 - 30px);
  font-size: 14px;
  border: 1px solid var(--color-gray);
}
.box:last-of-type {
  width: 100%;
}
.box-title {
  border-bottom: 1px solid var(--color-gray);
  text-align: center;
  padding: 10px 0;
}
.box-content {
  padding: 30px 30px 35px 30px;
}
.box-content li:not(.not-li) {
  padding-bottom: 15px;
}
.fa-ul {
  margin-left: 16px;
}
.box-content ul:not(.box-content ul:last-child) {
  padding-bottom: 40px;
}
.box-content .button {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 30px;
}
.line {
  width: 20%;
  border-bottom: 1px solid var(--color-gray);
  margin: 40px 0 50px 0;
}
.box-content h4 {
  margin-bottom: 30px;
}
.fa-check {
  color: var(--color-dark-blue);
}
.right-box,
.square > div {
  width: calc(100% / 3);
}
.partner-right {
  width: 40%;
  padding: 50px;
}
.partner-left,
.simple h2 {
  width: 60%;
}
.partner-right .button {
  border: 1px solid var(--color-black);
  padding: 10px 15px;
  margin-top: 30px;
}
.operations {
  gap: 30px;
  row-gap: 45px;
}
.operations > div {
  width: calc(100% / 3 - 30px);
}
.operations p {
  margin-top: 15px;
  padding-right: 5px;
}
.square-box {
  width: 50%;
  aspect-ratio: 1 / 1;
  position: relative;
  cursor: pointer;
}
.square-border {
  display: none;
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 15px solid rgba(255, 255, 255, 0.418);
  position: absolute;
  top: 0;
}
.square-box:hover .square-border {
  display: block;
}
.square-box img {
  width: 45%;
  filter: invert(100%);
}
.square-middle img {
  width: 50%;
}
.square-middle {
  aspect-ratio: 1 / 1;
  padding: 50px;
  overflow-y: auto;
}
.square-middle p {
  margin-bottom: 50px;
}
#call-to-action h2 {
  color: var(--color-burgundy);
  margin-bottom: 80px;
}
.call-box {
  width: 50%;
}
.call-box:last-of-type {
  width: calc(100% / 3 - 30px);
}
.call-box .button {
  text-align: center;
  width: 100%;
  padding: 10px 0;
}
.call-box .button:hover {
  border: 1px solid var(--color-black);
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}
section summary {
  padding: 40px 40px 40px 0;
  border-top: 1px solid var(--color-dark-gray);
  cursor: pointer;
}
section details p {
  padding-bottom: 40px;
}
.angle-up {
  display: none;
}
details[open] .angle-down {
  display: none;
}
details[open] .angle-up {
  display: block;
}
.long-line {
  border-top: 1px solid var(--color-dark-gray);
}

/* footer */
footer {
  background-color: var(--color-black);
  color: var(--color-white);
  margin-top: 140px;
  padding-top: 120px;
}
footer a {
  color: var(--color-white);
}
footer a:hover {
  text-decoration: underline;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
footer h2 {
  margin-bottom: 30px;
}
footer li {
  margin-bottom: 15px;
}
footer .line {
  border-color: var(--color-white);
  width: 10%;
  margin-top: 100px;
}
footer .fa-earth-americas {
  margin: 0 5px 50px 0;
}

/* text utility */
.c-darkgray {
  color: var(--color-dark-gray);
}
.c-anchor {
  color: #0000ee;
}
.underline {
  text-decoration: underline;
}

/* bg color utility */
.bgc-lightgreen {
  background-color: var(--color-light-green);
}
.bgc-burgundy {
  background-color: var(--color-burgundy);
}
.bgc-blue {
  background-color: var(--color-blue);
}
.bgc-lightred {
  background-color: var(--color-light-red);
}
.bgc-notwhite {
  background-color: var(--color-not-white);
}
.bgc-darkred {
  background-color: var(--color-dark-red);
}
.bgc-lightblue {
  background-color: var(--color-light-blue);
}
.bgc-ultramarine {
  background-color: var(--color-ultramarine);
}
.bgc-yellow {
  background-color: var(--color-yellow);
}

/* padding utility */
.paddleft-5 {
  padding-left: 5px;
}

/* position utility */
.p-relative {
  position: relative;
}

/* flex utility */
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.f-column {
  flex-direction: column;
}
.s-between {
  justify-content: space-between;
}
.j-center {
  justify-content: center;
}
.j-flexend {
  justify-content: flex-end;
}
.ai-center {
  align-items: center;
}
.ai-baseline {
  align-items: baseline;
}
